@import "tailwindcss";

/* v4'te özel font veya renk tanımlarını buraya yapabilirsin */
@theme {
  --color-brand-deep: #020617;
  --color-brand-light: #0f172a;
}

body {
  /* Daha yumuşak bir radial gradient */
  background: radial-gradient(circle at top left, #1e293b 0%, #020617 80%);
  background-attachment: fixed;
  color: #f1f5f9;
  min-height: 100vh;
}